html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 16px;
}

.container 
{
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

/* Flex box inclusion*/
* {
    box-sizing: border-box; /* include padding and border is size calcs */
  }

ul
{
    list-style:none;
    margin:0;
    padding:0;
}

.container
{
    padding:15px;
}



/* Putting svg image and description next to each other*/
li
{
    display:flex;
}

/* To see the divisions. Will delete this later*/
/*li div
{
    border: 1px solid red;
}
*/

/*Fixing width of svg images*/
svg
{
    width:90px;
    margin-top:15px;
}





header h1
{
    font-weight: 300;
    font-size:3em;
}



header .tagline
{
    font-weight:300;
}

@media (max-width: 767px)
{
    header 
    {
        background: linear-gradient(to right, #3E1305, #8A2811);
        color: white;
    }
}



@media (min-width: 768px)
{

    .container 
    {
        width: 750px;
    }

    header {
        background: url('../images/angelina-litvin-32188-unsplash.jpg');
        background-position: right;
        background-position: bottom;
        padding-top: 100px;
        background-size: cover;
    }



    header h1 
    {
        font-weight: 300;
        font-size: 5em;
    }

    header .tagline 
    {
        font-weight: 300;
        font-size:1.5em;
    }

    ul 
    {
        display: flex;
        flex-wrap:wrap;
    }

    li
    {
        flex-basis:50%;
        padding-left:5px;
        padding-right:5px;
    }



}




@media (min-width: 992px) 
{
    .container 
    {
        width: 970px;
    }

    header {
        background: url('../images/angelina-litvin-32188-unsplash.jpg');
        background-position: right;
        background-position: bottom;
        background-size: cover;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    header h1 
    {
        font-weight: 300;
        font-size: 5em;
    }

    header .tagline 
    {
        font-weight: 300;
        font-size: 1.5em;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        flex-basis: 33.3%;
        padding-left: 5px;
        padding-right: 5px;
    }
}




@media (min-width: 1200px) 
{
    .container {
        width: 1170px;
    }

    header {
        background: url('../images/angelina-litvin-32188-unsplash.jpg');
        background-position: right;
        background-position: bottom;
        background-size: cover;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    header h1 
    {
        font-weight: 300;
        font-size: 5em;
    }

    header .tagline 
    {
        font-weight: 300;
        font-size: 1.5em;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        flex-basis: 33.3%;
        padding-left: 5px;
        padding-right: 5px;
    }


}

svg 
{
    height: 64px;
    fill: #8A2811;
}




footer {
    background-color: #3E1305;
    color: white;
}

footer .container p a
{
    color:white;
}


